<strong>Liked Projects</strong></br>
<% @likes.each do |like| %>
  <div class="open-project" data-id="<%= like.project_id %>">

    <%= Project.find(like.project_id).title %>



    <div class="d-inline-block fa-stack fa-1x">
      <i class="fa fa-circle fa-stack-1x text-white"></i>
      <i class="fa fa-info fa-stack-1x text-success"></i>
    </div>

  </div>
  <br/>
<% end %>
