<div class="card">
  <div class="card-header">My Projects</div>
  <div class="card-body">
    <% @my_projects.each do |proj| %>
    <div id=<%= proj.id %>>
    <h5 class="card-title"><%= link_to proj.title, proj %></h5>
      <% Swipe.where(project_id: proj.id).where(liked: true).each do |like| %>
      <p class="card-text"><%= Account.find(like.account_id).email %> | Jay: Hello <%= link_to "Message", Swipe.find_by(project_id: proj.id, account_id: like.account_id) %></p>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
