<div class="card text-white bg-dark mt-proj">
  <div class="card-header"></div>
  <div class="card-body">
    <h5 class="card-title">No Projects Left</h5>
    <p class="card-text">You have run out of projects to swipe on</p>
  </div>
</div>
