<div class="card text-white bg-success">

  <div class="card-header">
    <%= Account.find(@profile.account_id).email %>
    <%= link_to "Back", browse_path, class: "float-right" %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @profile.name %></h5>
    <p class="card-text">(Other data would go here)</p>
  </div>
</div>
<% if current_account.id==@profile.account_id %>
<%= link_to "Edit", edit_profile_path(@profile) %>
<% end %>
