<h1 style="color:white">New Project</h1>

<%= render 'form', project: @project %>

<p>
<%= link_to 'Projects', projects_path, class: "btn btn-outline-primary" %>
</p>
<p>
  <a <%= link_to 'Browse', browse_path, class: "btn btn-outline-success", style: "color:white" %></a>
</p>
