<strong>My Projects</strong><br/>

<% @my_projects.each do |proj| %>
  <div class="open-conversation" data-id="<%= proj.id %>">

    <%= proj.title %>

    <div class="d-inline-block">
      <i class="fa fa-comment text-success"></i>
    </div>

  </div>
  <br/>
<% end %>

<br/>

<strong>Liked Projects</strong></br>
<% @likes.each do |like| %>
  <div class="open-conversation" data-id="<%= like.project_id %>">

    <%= Project.find(like.project_id).title %>

    <div class="d-inline-block">
      <i class="fa fa-comment text-success"></i>
    </div>

  </div>
  <br/>
<% end %>
