<!-- Browse Window -->
<ul id="slides">
  <% @projects.each do |project| %>
  <div class="slide showing" data-id="<%= project.description %>">
    <li style="color:white"><%= project %></li>
  </div>
  <% end %>
</ul>
<button class="controls" id="previous">NO</button>
<button class="controls" id="next">YES</button>
