<!-- Browse Window -->
<ul id="slides">
  <% @projects.each do |project| %>
  <div class="slide" data-id="<%= project.id %>">
    <li style="color:white"><%= project.title %></li>
  </div>
  <% end %>
</ul>
<button class="controls" id="decline">NO</button>
<button class="controls" id="approve">YES</button>
