/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";
#signin{
  text-align: center;
  font-size: 15px;
}
#signinthing{
  font-size: 20px;
}
#toptext{
  margin-top: 100px;
}

#imagedragon{
  width:200px;
  height:200px;
  position: absolute;
  margin: -350px 500px 100px 0px;
  filter: brightness(1.2);
  filter: saturate(2);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centerh {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.typewriter {
    font-family: Courier, monospace;
	display: inline-block;

}
.typewriter-text {
    color: green;
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 3s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 60px;
    font-weight: 700;
    border-right: 4px solid orange;
    box-sizing: border-box;

}

#subtex{



}
@keyframes typing {
    from {
        width: 0%
    }
    to {
        width: 100%
    }
}

@keyframes blink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }

}
.inner{
  margin-top: auto;
  margin-bottom: 80px;

}




.fade-in {
  animation: fadeIn ease 3s;

}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.topper{
margin-top:50px;

}

.conversation-message-me {
  background: green;

  p {
    margin: 0;
  }

}
.conversation-message-match {
  background: #171717;

  p {
    margin: 0;
  }
}
