// Place all the styles related to the browse controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#logo{

  margin: 10px 0px 10px 900px;
}

#slide-controls{

  margin: 10px 300px;
}
body{
  overflow-x: hidden;
}
