body {
  /*overflow-y: hidden;  Hide vertical scrollbar */
    /*overflow-x: hidden;  Hide horizontal scrollbar */
    background: linear-gradient(to bottom, #171717 0%, #171717 0%);
}
.bottom{
  margin: 500px 0 0 0;
      color: green;
.column {
        float: left;
        width: 33.33%;
        padding: 100px;
          width: 200px;
      }
}
.imgContainer{
    float:left;
    justify-content: center;

}
.image123{justify-content: center;}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.typewriter {
    font-family: Courier, monospace;
	display: inline-block;

}
.typewriter-text {
    color: green;
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 3s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 60px;
    font-weight: 700;
    border-right: 4px solid orange;
    box-sizing: border-box;

}

#subtex{



}
@keyframes typing {
    from {
        width: 0%
    }
    to {
        width: 100%
    }
}

@keyframes blink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }

}
.inner{
  margin-top: auto;
  margin-bottom: 80px;

}




.fade-in {
  animation: fadeIn ease 10s;

}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
