body {
   background: #171717;
 }

 @media only screen and (max-width: 600px) {
   .typewriter{
     font-family: Courier, monospace;
     display: inline-block;
     margin-top: 20vh;
     margin-bottom: 5vh;
   }

   .homepagebutton {
     display: block;
   }

   .info {
     /* display: none; */
     margin-top: 25vh;
   }
 }

 .typewriter {
    font-family: Courier, monospace;
    display: inline-block;
}

@media only screen and (min-width: 601px) {
  .homepagebutton {
    display: none;
  }
  .info {
    margin-top: 30px;
  }
}

 .typewriter-text {
      font-family:georgia,garamond,serif;
      color: green;
      display: inline-block;
      overflow: hidden;
      letter-spacing: 2px;
      animation: typing 3s steps(30, end), blink .75s step-end infinite;
      white-space: nowrap;
      font-size: 9vw;
      font-weight: 700;
      border-right: 4px solid orange;
      box-sizing: border-box;
 }

 @keyframes typing {
     from {
         width: 0%
     }
     to {
         width: 100%
     }
 }

 @keyframes blink {
     from, to {
         border-color: transparent
     }
     50% {
         border-color: orange;
     }

 }

 .fade-in {
   animation: fadeIn ease 7s;

 }

 @keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }
