<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
        <h3 class="masthead-brand">Header</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Contact</a>
          <%= link_to "Sign out", destroy_account_session_path, method: :delete, class: "btn btn-secondary mr-2" %>
          <%= link_to "My projects", projects_path, class: "btn btn-outline-primary" %>

        </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <div class="typewriter">
      <div class="typewriter-text">{ Hello, friend! }</div>
    </div>
    <p id="subtex" class="lead">Yeee, coding with the bois</p>
    <p class="lead">
      <a style="color:white;" href="accounts/sign_up" class="btn btn-lg btn-secondary">Sign up</a>
    </p>
    <p class="lead">
      <a href="accounts/sign_in" class="btn btn-outline-primary">Sign in</a>
    </p>
  </main>

</body>
