<body class="centerS">
    <div class="text-center cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">


    </div>
  </header>

  <main role="main" class="inner cover center">
    <div class="typewriter">
      <div class="typewriter-text" style = "font-family:georgia,garamond,serif">{ Hello, friend! }</div>
    </div>
    <p id="subtex" class="fade-in" style="color:white;font-size:15px">Welcome!</p>
    <p class="fade-in">
      <a style="color:white;" href="accounts/sign_up" class="btn btn-lg btn-secondary">Sign up</a>
    </p>
    <p class="fade-in">
      <a style="text-decoration:underline;" href="accounts/sign_in">Sign in</a>
    </p>
  </main>
<p class="bottom">Hello, Friend is a shit app that no one asked for but ah sure here we are anyway</p>

<%# <%= link_to "Sign out", destroy_account_session_path, method: :delete, class: "btn btn-secondary mr-2 bottom" %>

</body>
