<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">


    </div>
  </header>

  <main role="main" class="inner cover center">
    <div class="typewriter">
      <div class="typewriter-text">{ Hello, friend! }</div>
    </div>
    <p id="subtex" class="fade-in" style="color:white;font-size:15px">catchphrase</p>
    <p class="fade-in">
      <a style="color:white;" href="accounts/sign_up" class="btn btn-lg btn-secondary">Sign up</a>
    </p>
    <p class="fade-in">
      <a href="accounts/sign_in" class="btn btn-outline-primary">Sign in</a>
    </p>
  </main>

</body>
