<div class="profile-bar">
  <%= link_to "Sign Out", destroy_account_session_path, method: :delete, class: "float-right text-white mt-2" %>

  <%= link_to "My Profile", edit_account_registration_path, class: "my-profile text-white" %>
  <div style="margin-top:10px">
    <%= link_to "My Projects", projects_path, class: "my-profile text-white", style: "font-size:90%" %>
  </div>
</div>
